body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at left, #0f2027, #000);
    color: white;
    height: 100vh;
}

.container {
    text-align: center;
    padding-top: 40px;
}

.logo h1 {
    letter-spacing: 5px;
    margin: 10px 0 0;
}

.logo p {
    font-size: 12px;
    opacity: 0.7;
}

.hex {
    width: 60px;
    height: 60px;
    margin: auto;
    background: linear-gradient(45deg, cyan, purple);
    clip-path: polygon(
        25% 0%, 75% 0%,
        100% 50%, 75% 100%,
        25% 100%, 0% 50%
    );
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 25px;
    justify-content: center;
    margin-top: 60px;
}

.card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0,255,255,0.1);
    transition: 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px cyan;
}

.card span {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    background: linear-gradient(45deg, cyan, purple);
    font-weight: bold;
    margin-bottom: 10px;
}

.card h3 {
    margin: 10px 0 5px;
}

.card p {
    font-size: 13px;
    opacity: 0.7;
}
